
<div style="background-image: url(http://landworks.com.mx/wp-content/uploads/2016/06/portada-slider.jpg); background-size: cover">
  <%= render 'contents/navbar' %>

  <div class="col-md-12" style="border: 1px solid black; margin-right: 20em;">
    <h1>Developer</h1>
  </div>
  <div class="col-md-12" style="border: 1px solid black; display: flex; justify-content: center;">
    <h1>Entrepenour</h1>
  </div>
  <div class="col-md-12" style="border: 1px solid black; display: flex; justify-content: center;">
    <h1>Scientist</h1>
  </div>
  <div class="col-md-12" style="border: 1px solid black; display: flex; justify-content: center;">
    <h1>Creator</h1>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  hello
</div>
